<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
</head>
<body>
  <h1>Dairy products</h1>

  <div class="product-list">
    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://static.vecteezy.com/system/resources/previews/013/050/450/original/glass-of-milk-with-gable-top-package-close-up-cow-milk-carton-and-milk-cup-isolated-on-white-background-vector.jpg">
      <h3>Milk</h3>
      <p>Price:30rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://media.istockphoto.com/id/1033270770/photo/two-yogurts-isolated-on-white-background-3d-illustration.jpg?s=612x612&w=0&k=20&c=gF3rAN_RCQ7eoJK7_kz22Hw4RE-N8UhpZ5-9jymK6HQ=">
      <h3>Curd</h3>
      <p>Price:35rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRno0Tv09ovA91cupiWdxqfK-7Jpd4bQ3FWrXhEueAwjWVQxq-i_U39k6mPeJz0oSzXDZY&usqp=CAU">
      <h3>cheese</h3>
      <p>Price:60rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://5.imimg.com/data5/SELLER/Default/2021/1/FJ/NS/FI/65600284/250ml-desi-ghee-500x500.jpeg">
      <h3>Ghee</h3>
      <p>Price:150rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://img.freepik.com/free-vector/ice-cream-pack_98292-7078.jpg?w=2000">
      <h3>Icecream</h3>
      <p>Price:50rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBM8DsD_p-xMpy3M5jyDYpwueYsOxZQql8pcw_UMxA5Z4g9ZEqbdDgvNBB1g69S6PvIwA&usqp=CAU">
      <h3>badam milk</h3>
      <p>Price:30rs</p>
      <button >Add to Cart</button>
    </div>

  </div>


  <button onclick="history.back()" class="products_back">Back</button>
 
</body>
</html>

