<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
</head>
<body>
  <h1>Fruits</h1>

  <div class="product-list">
    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://previews.123rf.com/images/btk1977/btk19771206/btk1977120600006/14114748-three-appetizing-apples-isolated-on-white-background.jpg">
      <h3>Apples</h3>
      <p>Price:130rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://img.freepik.com/premium-photo/grapes-white-background_181303-4423.jpg">
      <h3>Grapes</h3>
      <p>Price:135rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://media.istockphoto.com/id/173242750/photo/banana-bunch.jpg?s=612x612&w=0&k=20&c=MAc8AXVz5KxwWeEmh75WwH6j_HouRczBFAhulLAtRUU=">
      <h3>Banana</h3>
      <p>Price:60rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://i.pinimg.com/originals/c0/f2/e1/c0f2e10486a6f7be3689b66cb1147e97.jpg">
      <h3>Mango</h3>
      <p>Price:150rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCi6KhSAPXYrRzKYiV0OIcwuLpixFAq9N0DA&usqp=CAU">
      <h3>Pineapple</h3>
      <p>Price:90rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://img.freepik.com/premium-photo/papaya-isolated-white-background-full-depth-field_253984-6532.jpg?w=2000">
      <h3>Papaya</h3>
      <p>Price:30rs</p>
      <button >Add to Cart</button>
    </div>

  </div>


  <button onclick="history.back()" class="products_back">Back</button>
 
</body>
</html>


