<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
</head>
<body>
  <h1>Snack Items</h1>

  <div class="product-list">
    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYA9pkC3yu7RPpsShqtFo4KVyPPgxrxfgLcg&usqp=CAU">
      <h3>Donuts</h3>
      <p>Price:30rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ68Hf_HeX0ct21QQy1cnh5pu19j8IJleTZsH76yrX07_hn_Yjgm-8-7e_WaweuXpc4lXs&usqp=CAU">
      <h3>cupcakes</h3>
      <p>Price:45rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGURIzwJNVHzwSQ2n4ppOfzQZdVOmKDZwZ0g&usqp=CAU">
      <h3>Buns</h3>
      <p>Price:60rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://storage.googleapis.com/images-sof-prd-9fa6b8b.sof.prd.v8.commerce.mi9cloud.com/product-images/zoom/00671521401104.jpg">
      <h3>Milk Breads</h3>
      <p>Price:30rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://assets.woolworths.com.au/images/1005/58971.jpg?impolicy=wowbumxfyzp&w=500&h=500">
      <h3>gluten free</h3>
      <p>Price:150rs</p>
      <button >Add to Cart</button>
    </div>

    <div class="product shadow-lg p-3 mb-5 bg-white rounded">
      <img src="https://cdn.shopify.com/s/files/1/0368/6285/products/good-seed-buns_1200x1200.gif?v=1551924566">
      <h3>seed buns</h3>
      <p>Price:70rs</p>
      <button >Add to Cart</button>
    </div>

  </div>


  <button onclick="history.back()" class="products_back">Back</button>
 
</body>
</html>